{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@controllers": "./backend/controllers"
            }
        }]
    ]
}
