{
    "env": {
        "browser": true,
        "es2021": true
    },
    "parser": "@babel/eslint-parser",
    "extends": ["airbnb", "airbnb/hooks", "prettier"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module",
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "plugins": ["prettier"],
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["@controllers", "./backend/controllers"],
                    ["@components", "./src/components"],
                    ["@pages", "./src/pages"],
                    ["@models", "./backend/models"]
                ],
                "extensions": [".js", ".jsx"]
            }
        }
    },
    "rules": {
        "prettier/prettier": "error",
        "no-console": 0,
        "arrow-body-style": ["error", "as-needed"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
